@charset "UTF-8";
        nav {
            font-size: 16pt;
            position: relative;
            background-color: rgb(255, 241, 141);
            text-align: center;
        }

        nav ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        nav li {
            display: inline-block;
            margin-right: 10px;
        }

        nav a {
            line-height: 80px;
            height: 50px;
            text-decoration: none;
            color: black;
            padding: 0 25px;
        }

        nav a:hover,
        nav a:active {
            color: white;
            background-color: #ffeb5c;
            padding-top: 20px;
            padding-bottom: 20px;
        }